/* global css */
*{
    font: size 30px;
    font-weight: 500;
}
/* External CSS */
h3{
    color: rgb(0, 255, 26);
}
/* element selector */
h4{
    color: palevioletred;
}
/* class selector */
.myclass{
    color: darkorange;
}
/* id selector */
.myid{
    color: blueviolet;
}
/* gorup selector */
h5,p{
    color: crimson;
}